//- Миксины


doctype html
html(lang="en" data-theme="light" class="bg-base-200")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="stylesheet", href="styles.css" inline)
        title Свои люди
    body
        include ../include/header.pug
        block content
        include ../include/footer.pug
    block scripts
    script(defer src="https://unpkg.com/alpinejs@3.2.4/dist/cdn.min.js")
    include ../include/external_tags.html
