extend common/base.pug

block content
    div(class="container sm:p-2 mx-auto h-screen space-y-4")
        div(class="max-w-4xl mx-auto flex flex-col md:flex-row gap-4 h-3/4 p-2 ms:p-0")
            div(class="rounded-box bg-base-100 w-full h-full order-last sm:order-first flex flex-row ")
                textarea(class="text-sm textarea w-full h-full textarea-ghost" placeholder="start_tap()")
            div(class="rounded-box bg-base-300 w-full h-full flex flex-row")
                p(class="text-sm w-full h-full py-2 px-4") tet for lesson
        div(class="w-full flex justify-around")
            button(class="btn btn-outline btn-sm ")
                svg( xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 26" class="inline-block w-6 h-6  stroke-current")
                    path( stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12") 
                span prev
            div(class="flex items-center gap-4")
                div(class="badge badge-md badge-primary") 4 err
                div(class="badge badge-md badge-secondary") 150 tpm
                button(class="btn btn-outline btn-sm btn-square")
                    svg( xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 26" class="inline-block w-6 h-6 stroke-current")
                        path( stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12")
            button(class="btn btn-outline btn-sm ")
                span next
                svg( xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 26" class="inline-block w-6 h-6 stroke-current")
                    path( stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12")
