div(class="container sm:p-2 mx-auto")
    div(class="navbar shadow-lg bg-neutral text-neutral-content sm:rounded-box relative")
        div(class="px-2 mx-2 navbar-start")
            a(href="")
                span(class="text-lg font-bold") tap_train
